
a {
  color:white;
}
.sidenav-trigger {
  color: white;
  font-size: 1.5em;
  padding: 0 0 0 40px;
}
.header h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background-color: #9B9B9B;
  padding: 0 0 20px;
}

.classroom {
  padding: 20px 100px 20px;
  background-color: #D8D8D8
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  margin: 0 0 34px;
}
.flex-grid-thirds .col {
  width: 12%;
  height: 130px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 20%;
}

/* @media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
} */




* {
  box-sizing: border-box;
}
/* body {
  padding: 20px;
} */

.grid-element {
  padding: 30px 0 0 0;
  border: 12px solid white;
  color: white;
} 

.stressed, .frustrated, .furious {
  background: linear-gradient(to left, #D9C2FA, #5720A8)
}

.carefree, .grateful, .excited {
  background: linear-gradient(to bottom, #FFC69D, #F76B1C)
}

.present, .focused, .curious {
  background: linear-gradient(to top, #DCFB89, #8BBE01)
}

.lonely, .hopeless, .grief {
  background: linear-gradient(to right, #87DAFA, #0086B9)
}

.invisible {
  background: linear-gradient(to right, rgb(194, 188, 188), gray)
}

.req {
  border-color: gray;
}